<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="#!/home">Contoso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRight" aria-controls="navbarRight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarRight">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#!/">Trang chủ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/products">Sản phẩm</a>
        </li>
      </ul>
      <!--
        <a ng-if="!isAuthenticated()" href="#!/login" class="btn btn-success btn-sm my-2" prevent-default>Login</a>
        <span class="navbar-text pr-2 d-sm-block" ng-if="isAuthenticated()">
          Hello
        </span>
        <a ng-if="isAuthenticated()" ng-click="logout()" href="#" class="btn btn-warning btn-sm my-2" prevent-default>Logout</a>
      -->
    </div>
  </div>
</nav>